  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  header{
    text-align: center;
    padding: 4px;
    background-color: rgb(228, 182, 167);
    color: white;

  }
  footer{
    text-align: center;
    padding: 2%;
    background-color: DarkSalmon;
    color: white;

  }
  .contenedor-datos {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    font-size: 24px;
  }
  
  label {
    display: block;
    margin-top: 20px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  